PORT=3000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/carmarket
DATABASE_MIGRATIONS_RUN=false
DATABASE_LOGGING=false

JWT_ACCESS_SECRET=secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=secret
JWT_REFRESH_EXPIRES_IN=7d

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=carmarket
